{% extends "layout.html" %}
{% block title %}
{% if review %}
History review
{% else %}
Guess the word!
{% endif %}
{% endblock %}

{% block body %}

<ol>
    {% for guess in guesses %}
    <li class=guess>
        {% for position in guess -%}
        <span class={{position[1]}}>{{position[0]}}</span>
        {%- endfor %}
    </li>
    {% endfor %}
</ol>

{% if not review %}
{% if ready %}
<form method="POST">
    <input name="next" type="submit" value="Next word">    
</form>
{% else %}
<form method="POST" class="input-row">
    <input autofocus type="text" placeholder="Your 5-letter guess" name="word">
    <input name="guess" type="submit" value="Guess">
</form>
{% endif %}
{% endif %}

{% endblock %}
