{% extends "layout.html" %}
{% block title %}Guess the word!{% endblock %}

{% block body %}

{% if games %}
<table class=history>
    <tr><th>User</th><th>Secret</th><th>Result</th></tr>
    {% for game in games %}
    <tr>
        <td>{{game["user_name"]}}</td>
        <td><a href="/game/{{game['id']}}">{{game["secret"]}}</a></td>
        <td class={{"failed" if game["result"]<1 else "guessed"}}>{{"failed" if game["result"]<1 else game["result"]}}</td>
    </li>
    {% endfor %}
</table>
{% else %}
    <div class="message">No games have been played yet.</div>
{% endif %}

{% endblock %}
